<!-- Determine classes -->
{% set class = "md-header" %}
{% if "navigation.tabs.sticky" in features %}
    {% set class = class ~ " md-header--shadow md-header--lifted" %}
{% elif "navigation.tabs" not in features %}
    {% set class = class ~ " md-header--shadow" %}
{% endif %}

<!-- Header -->
<header class="{{ class }}" data-md-component="header">
    <nav
        class="md-header__inner md-grid"
        aria-label="{{ lang.t('header') }}"
    >
        <!-- Button to open drawer -->
        <label class="md-header__button md-icon" for="__drawer">
            {% set icon = config.theme.icon.menu or "material/menu" %}
            {% include ".icons/" ~ icon ~ ".svg" %}
        </label>

        <!-- Centered brand: logo2 + site title -->
        <a
            href="{{ config.extra.homepage | d(nav.homepage.url, true) | url }}"
            title="{{ config.site_name | e }}"
            class="md-header__brand"
            aria-label="{{ config.site_name }}"
            data-md-component="logo"
        >
            <span class="md-header__brand-title site-title left">
                Planet
            </span>

            <img
                class="md-header__brand-logo"
                src="{{ 'assets/images/logo3.png' | url }}"
                alt="{{ config.site_name | e }}"
            >
            <span class="md-header__brand-title site-title right">
                Raves
            </span>
        </a>

        <!-- Color palette toggle -->
        {% if config.theme.palette %}
            {% if not config.theme.palette is mapping %}
                {% include "partials/palette.html" %}
            {% endif %}
        {% endif %}

        <!-- User preference: color palette -->
        {% if not config.theme.palette is mapping %}
            {% include "partials/javascripts/palette.html" %}
        {% endif %}

        <!-- Site language selector -->
        {% if config.extra.alternate %}
            {% include "partials/alternate.html" %}
        {% endif %}

        <!-- Button to open search modal -->
        {% if "material/search" in config.plugins %}
            <label class="md-header__button md-icon" for="__search">
                {% set icon = config.theme.icon.search or "material/magnify" %}
                {% include ".icons/" ~ icon ~ ".svg" %}
            </label>

            <!-- Search interface -->
            {% include "partials/search.html" %}
        {% endif %}

        <!-- Repository information -->
        {% if config.repo_url %}
            <div class="md-header__source">
                {% include "partials/source.html" %}
            </div>
        {% endif %}
    </nav>

    <!-- Subtitle -->
    <div class="subtitle-ticker">
        <div class="subtitle-ticker__track">
            <!-- repet twice for smoother tracking -->
            <span>{{ config.site_subtitle1 }}</span>
            <span>{{ config.site_subtitle2 }}</span>
            <span>{{ config.site_subtitle3 }}</span>
            <span>{{ config.site_subtitle1 }}</span>
            <span>{{ config.site_subtitle2 }}</span>
            <span>{{ config.site_subtitle3 }}</span>
        </div>
    </div>
    
    <!-- Navigation tabs (sticky) -->
    {% if "navigation.tabs.sticky" in features %}
        {% if "navigation.tabs" in features %}
            {% include "partials/tabs.html" %}
        {% endif %}
    {% endif %}
</header>